
<footer class="site-footer h-card row">  
  <div class="col text-center">
    
      <i class="fad fa-users"></i>
      <a href="https://github.com/zimventures/TIL/discussions" target="_blank" >Join the Community</a>
      <br/>
      <i class="fas fa-bug"></i> 
      <a href="https://github.com/zimventures/TIL/issues/new" target="_blank" >
        File a bug!
      </a> 
      <br/>
      <i class="fab fa-github">
      <a href="https://pages.github.com/" target="_blank">Hosted by GitHub Pages</a></i>

  </div>  

  <div class="col">
    <p align="center">
      <a href="https://twitter.com/603zim" target="_new">603Zim <i class="fab fa-twitter"></i><a> | 
      <a href="{{'/feed.xml' | relative_url}}" target="_blank">RSS <i class="fad fa-rss"></i></a>
      <br/><br/>
      Happy Coding! 💻 
    </p>
  </div>

  <div class="col">
    <p align="center">
      Latest HN Top Story
      <br/>
      <span id="latest-hn"></span>
    </p>
  </div>



</footer>
