
<footer class="site-footer h-card row">  
  <div class="col">
    <p align="center">
      See something that's incorrect? 
      <br/>
      <a href="https://github.com/zimventures/TIL/issues/new">
        File a bug! <i class="fas fa-bug"></i>
      </a>
    </p>
  </div>  

  <div class="col">
    <p align="center">
      <a href="https://pages.github.com/" target="_blank">Hosted by GitHub Pages</a> <i class="fab fa-github"></i>
      <br/>
      Happy Coding! 💻 
    </p>
  </div>

  <div class="col">
    <p align="center">
      Latest HN Top Story
      <br/>
      <span id="latest-hn"></span>
    </p>
  </div>



</footer>
