
<footer class="site-footer h-card row">  
  <div class="col text-center">
    
      <i class="fad fa-users"></i>
      <a href="https://github.com/zimventures/TIL/discussions" target="_blank" >Join the Community</a>
      <br/>
      <i class="fas fa-bug"></i> 
      <a href="https://github.com/zimventures/TIL/issues/new" target="_blank" >
        File a bug!
      </a> 

  </div>  

  <div class="col">
    <p align="center">
      <a href="https://pages.github.com/" target="_blank">Hosted by GitHub Pages</a> <i class="fab fa-github"></i>
      <br/>
      Happy Coding! 💻 
    </p>
  </div>

  <div class="col">
    <p align="center">
      Latest HN Top Story
      <br/>
      <span id="latest-hn"></span>
    </p>
  </div>



</footer>
