---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <p class="text-center">
  <a href="https://twitter.com/603zim" target="_new">603Zim <i class="fab fa-twitter"></i><a>
  </p>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<div class="p-author text-center">
{% if page.previous %}
  
    <a href={{page.previous.url | relative_url}}>{{page.previous.title}}</a>
    &laquo; Previous Post

{% endif %}

{% if page.next and page.previous %}
 | 
{% endif %}

{% if page.next %}

    Next Post &raquo;
    <a href={{page.next.url | relative_url}}>{{page.next.title}}</a>

{% endif %}